@tiptap-pro:registry=https://registry.tiptap.dev/
@tiptap-cloud:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${AIH0xHNQytNXlSnFDf2nG2oiUC9awMn3ZkvT/r+34FfIXpRN5gTU9Rs8hHuwnsWz}